spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chatbot?serverTimezone=UTC
    username: chatbot
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
    open-in-view: true
openai:
  api-key: ${OPENAI_API_KEY}
  endpoint: https://api.openai.com/v1/
#logging:
#level:
#org.hibernate: DEBUG
#org.springframework: DEBUG